</div>
{load href='/Seller/public/static/jquery-2.1.4.min.js'/}
{load href='/Seller/public/static/bootstrap-3.3.7-dist/js/bootstrap.js'/}
{load href='/Seller/public/static/jquery.metisMenu.js'/}
{load href='/Seller/public/static/jquery.slimscroll.min.js'/}
{load href='/Seller/public/static/layer.min.js'/}
{load href='/Seller/public/static/HPlusAdmin/js/hplus.min.js'/}
{load href='/Seller/public/static/contabs.min.js'/}
{load href='/Seller/public/static/HPlusAdmin/js/pace.min.js'/}

</body>

</html>