{load href='/Seller/public/static/jquery-2.1.4.min.js'/}
{load href='/Seller/public/static/bootstrap-3.3.7-dist/js/bootstrap.js'/}
{load href='/Seller/public/static/jquery.peity.min.js'/}
{load href='/Seller/public/static/HPlusAdmin/js/content.min.js'/}
{load href='/Seller/public/static/icheck.min.js'/}
{load href='/Seller/public/static/peity-demo.min.js'/}

<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
</script>

</body>

</html>
